<!DOCTYPE html>
<html>

{{partial "head.html" . }}

<body>
    {{ partial "header.html" .}}
    <main class="single-resource">
          <img src="{{ .Site.BaseURL }}/images/{{.Params.image}}" width="100" height="100" alt="Link to {{.Params.title}}" />
          <div class="content">
            <h2 class="colors {{.Section}}">
              {{ .Title }}
            </h2>

        {{.Content}}

        <a class="more-details" href="{{.Params.link}}">Learn more</a>

        <a class="back" href="{{ .Site.BaseURL }}{{.Section}}">Back to all content for {{.Section}}</a>
      </div>
    </main>

    {{partial "footer.html" . }}

</body>

</html>
