.im-contribution-section {
    align-items: center;
    background-image: url('/images/jpg/code-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121213;
    color: #fff;
    display: flex;
    padding-bottom: 4rem;
    min-height: 30rem;
}

.im-contribution-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}