.im-features-container {
    padding: 3rem 0 1rem;
    max-width: 25rem;
}

.im-feature-heading {
    align-items: center;
    color: #555;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 1rem
}

.im-features-para {
    color: #777
}

.im-feature-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.im-icon-blue {
    fill: #03A9F4
}

.im-icon-violet {
    fill: #673AB7
}