

.im-landing-section-wrapper {
    display: flex;
}

.im-landing-first-section {
    align-items: flex-end;
    display: flex;
}

.im-landing-tagline-container {
    max-width: 37rem;
    padding-bottom: 10rem;
}

.im-landing-tagline {
    color: #111;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.im-landing-tagline-para {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 2rem;
}

.im-landing-image-container {
    height: 100%;
    padding: 6rem 1.5rem 4rem 4rem;
}

.im-landing-image {
    width: 100%;
    object-fit: contain;
}

.im-landing-cta {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.875rem;
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
}