

.im-landing-section-wrapper {
    display: flex;
}

.im-landing-first-section {
    align-items: flex-end;
    display: flex;
}

.im-landing-tagline-container {
    width: 32rem;
    padding-bottom: 10rem;
}

.im-landing-tagline {
    color: #111;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}

.im-landing-tagline-para {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 2rem;
}

.im-landing-image-container {
    height: 100%;
    padding: 6rem 1.5rem 4rem 4rem;
}

.im-landing-image {
    width: 100%;
    object-fit: contain;
}

.im-landing-cta {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.875rem;
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
}

@media screen and (max-width: 75em) {
    .im-landing-tagline {
        font-size: 2rem;
    }

    .im-landing-tagline-para {
        font-size: 1rem;
    }

    .im-landing-tagline-container {
        width: 20rem;
        padding-bottom: 5rem;
    }

    .im-landing-image-container {
        padding: 4rem 1.5rem 4rem;
    }

}

@media screen and (max-width: 50em) {
    .im-landing-section-wrapper {
        flex-direction: column-reverse;
    }

    .im-landing-tagline-container {
        width: 100%;
        padding-right: 1.5rem;
    }

    .im-landing-image-container {
        padding: 4rem 1.5rem 4rem 0;
    }
}