.im-section-2-para {
    margin-top: 3rem;
    line-height: 1.5;
    font-size: 1.2rem
}


.im-section-2-title-bg {
    background-image: url('/images/svg/organisms-collection-light.svg');
    background-size: 10rem;
}

.im-registry-action-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}


@media screen and (max-width: 75em) {
    .im-section-2 {
        flex-direction: column;
        padding-right: 1.5rem;
    }

    .im-section-2 .im-section-title-container  {
        width: 100%;
        max-width: unset;
    }

    .im-section-2 .im-section-content-container {
        padding: 3rem 0;
    }

    .im-mines-card-container {
        margin: 0 1rem 1rem 0;
        
    } 
}