.im-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.im-card-container {
    border: 1px solid #eee;
    border-radius: 0.5rem;
    display: flex;
    margin: 0 2rem 2rem 0;
    min-height: 15rem;
    flex-direction: column;
    transition: 0.3s;
    flex: 1 0 18rem;
}

.im-card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.im-card-header-container {
    align-items: center;
    color: #222;
    display: flex;
    padding: 1.5rem;
    
}

.im-card-avatar-svg,
.im-card-avatar {
    height: 1.5rem;
    margin-right: 1rem;
}

.im-card-avatar-svg {
    width: 1.5rem;
}

.im-card-title {
    font-size: 1rem;
    font-weight: bold;
}

.im-card-content {
    color: #333;
    flex: 1;
    line-height: 1.2;
    padding: 0.5rem 1.5rem;
}

.im-card-action-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
}


.im-profile-cards-container {
    display: flex;
    flex-wrap: wrap;
}


.im-profile-card-container {
    background: #f7f7f7;
    border-radius: 0.5rem;
    border: 1px solid #efefef;
    overflow: hidden;
    margin: 0 2rem 2rem 0;
    width: 22rem;
}

.im-profile-card-content-container {
    background: #fff;
    padding: 1rem 2rem;
    position: relative;
    margin-top: 5rem;
    height: 100%;
}

.im-profile-card-avatar-container {
    position: absolute;
    top: -3rem;
    left: 1rem;
}

.im-profile-card-avatar {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

.im-profile-card-name {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 3rem 0 1rem;
    line-height: 1;
}

.im-profile-card-link-container {
    align-items: center;
    display: flex;
}