.im-container-outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.im-container-pl {
    padding-left: 1.5rem;
}

.im-container-inner {
    width: 100%;
    max-width: 100rem;
}

.im-light-bg {
    background: #fff
}

.im-light-10-bg {
    background: #f7f7f7
}

.im-section-wrapper {
    display: flex;
    padding-top: 5rem;
}

.im-section-title-container {
    max-width: 30rem;
    width: 100%;
}

.im-section-title {
    border-bottom: 5px solid #333;
    color: #333;
    font-weight: 800;
    font-size: 14px;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}



.im-section-content-container,
.im-section-title-bg {
    flex: 1
}

.im-section-content-container {
    padding: 3rem 1.5rem 0;
}