.im-footer {
    background: #202020;
    color: #999
}

.im-footer-wrapper {
    padding: 8rem 1.5rem 8rem 0;
}

.im-footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
}

.im-footer-logo {
    width: 4rem;
    margin-bottom: 2rem;
}

.im-footer-intro-text{
    color: #aaa;
    font-size: 0.875rem;
}