.im-flex {
    display: flex;
}

.im-flex-col {
    flex-direction: column;
}

.im-flex-1 {
    flex: 1
}

.im-icon {
    height: 1rem;
    width: 1rem;
}

.im-link,
.im-link:active,
.im-link:visited {
    color: #007bff;
    text-decoration: none;
}

.im-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.im-para {
    line-height: 1.2;
}

.im-disclaimer-container {
    padding: 3rem 0;
    color: #999;
    font-size: 0.7rem;
}