.im-navbar-wrapper {
    color: #000;
    display: flex;
}

.im-logo-container {
    align-items: center;
    display: flex;
}
.im-navbar-logo {
    height: 1.5rem;
}

.im-navbar-menu-item-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.im-navbar-menu-item {
    cursor: default;
    font-weight: 800;
    padding: 2rem 1.5rem;
    position: relative;
}



.im-menu-item-children-hidden .im-menu-item-children-container {
    display: none;
}

.im-menu-item-children-container {
    padding: 1rem 0;
    position: absolute;
    right: 0
}
.im-menu-item-children-container::after {
    content: '';
    top: 0.2rem;
    right: 3rem;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
}


.im-menu-item-children-wrapper {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #000;
    min-width: 23rem;
    padding: 0.25rem
}

.im-navbar-menu-item .im-menu-item-child {
    align-items: center;
    display: flex;
    border-radius: 0.5rem;
    color: #222;
    cursor: pointer;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}


.im-menu-item-child:hover {
    background: rgba(192, 216, 72, 0.3);
}

.im-external-ico {
    margin-left: auto
}
