.im-navbar {
    color: #fff;
    display: flex;
}

.im-navbar-first-section-outer {
    align-items: center;
    background: #000;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 35%;
}

.im-navbar-first-section {
    flex: 1;
    max-width: 35rem;
    padding-left: 1rem;
    width: 100%;
}

.im-navbar-second-section-outer {
    background: #222;
    flex: 0 0 65%
}

.im-navbar-second-section {
    max-width: 65rem;
    width: 100%;
}

.im-navbar-logo {
    height: 1.5rem;
}

.im-navbar-menu-item-container {
    display: flex;
    justify-content: flex-end;
}

.im-navbar-menu-item {
   padding: 2rem 1.5rem; 
}

.im-navbar-menu-item:hover {
   background: rgba(0, 0, 0, 0.2);
   cursor: pointer;
}