.im-navbar {
    color: #000;
    display: flex;
}

.im-navbar-first-section-outer {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 35%;
}

.im-navbar-first-section {
    flex: 1;
    max-width: 35rem;
    padding-left: 1rem;
    width: 100%;
}

.im-navbar-second-section-outer {
    background: #f7f7f7;
    flex: 0 0 65%
}

.im-navbar-second-section {
    max-width: 65rem;
    width: 100%;
}

.im-navbar-logo {
    height: 1.5rem;
}

.im-navbar-menu-item-container {
    display: flex;
    justify-content: flex-end;
}

.im-navbar-menu-item {
   padding: 2rem 1.5rem;
   font-weight: 800;
}

.im-navbar-menu-item {
    position: relative;
}

.im-menu-item-children-hidden .im-menu-item-children-container {
    display: none;
}

.im-menu-item-children-container {
    padding: 1rem 0;
    position: absolute;
}

.im-menu-item-children-wrapper {
    background: #fff;
    border-radius: 0.5rem;
    color: #000;
    min-width: 10rem;
    padding: 0.25rem
}

.im-menu-item-child {
    display: block;
    border-radius: 0.25rem;
    color: #222;
    cursor: pointer;
    padding: 0.5rem ;
    text-decoration: none;
    font-weight: bold;
}

.im-menu-item-child:hover {
    background: rgba(192, 216, 72, 0.3);
}