
.im-post-wrapper {
    padding: 5rem 1.5rem 0;
}

.im-post-title {
    font-size: 5.5rem;
    line-height: 1;
    max-width: 40rem;
    margin-bottom: 5rem;
}

.im-post-intro {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    padding-left: 40rem;
}


.im-post-section {
    border-radius: 1rem;
    display: flex;
    padding: 3rem 5rem 5rem;
}

.im-post-margin {
    margin: 2rem 0;
}

.im-post-section-stack {
    display: flex;
    flex-direction: column;
}

.im-post-section-heading {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    max-width: 30rem;
    line-height: 1;
}

.im-post-section-h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.im-post-section-para {
    font-size: 1.2rem;
    line-height: 1.5;
}


.im-post-ul {
    margin: 2rem;

    li {
        padding-bottom: 0.5rem;
    }
}


@media screen and (max-width: 75rem) {
    .im-post-title {
        font-size: 4rem;
        max-width: 25rem;
    }

    .im-post-intro {
        padding-left: 25rem;
    }
}

@media screen and (max-width: 50rem) {
    .im-post-title {
        font-size: 4rem;
        max-width: 100%;
    }

    .im-post-intro {
        padding-left: 0;
    }
}
