<header>
    <div class="logo"><a href="{{.Site.BaseURL}}">
      <img src="https://cdn.rawgit.com/intermine/design-materials/ff1ec6bf/logos/intermine/intermine-300x37.png" width="300" height="37" alt="InterMine Home" /></a></div>
    <nav tabindex="1">
        <ul>
          <li class="navigation-menu-link">
            <svg class="icon icon-homepage">
          <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-menu"></use></svg>
        </li>
        <!-- TODO: JS THIS TO A SMALL PHONE MENU -->
            <li><a href="{{.Site.BaseURL}}/developers" class="categories developers" tabindex="2">Developers</a></li>
            <li><a href="{{.Site.BaseURL}}/bioinformaticians" class="categories bioinformaticians" tabindex="3">Bioinformaticians</a></li>
            <li><a tabindex="4" href="{{.Site.BaseURL}}/biologists" class="categories biologists">Biologists</a></li>
            <li><a href="{{.Site.BaseURL}}/contact" class="categories contact">Contact&nbsp;us</a></li>
            <li><a href="{{.Site.BaseURL}}/resources" class="categories resources">Resources</a></li>
        </ul>
    </nav>
</header>
