<h4
class="categories contact"
tabindex="0"
role="menuitem"
aria-label="Menu for Contacts"
aria-haspopup="true" 
aria-expanded="false"
>Contacts</h4>

<ul role="menu">
  <li role="none"><a href="/contact" role="menuitem">
      Overview
    </a></li>
  <li  role="none"><a href="https://intermineorg.wordpress.com/" role="menuitem">
      <svg class="icon icon-wordpress">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-wordpress"></use>
      </svg>
      Blog
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li  role="none"><a href="https://twitter.com/intermineorg" role="menuitem">
      <svg class="icon icon-twitter">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-twitter"></use>
      </svg>
      @intermineorg
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li  role="none"><a href="https://lists.intermine.org/pipermail/dev/" role="menuitem">
      <svg class="icon icon-email">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-email"></use>
      </svg>
      Developer&nbsp;email&nbsp;list
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li  role="none"><a href="http://chat.intermine.org" role="menuitem">
      <svg class="icon icon-chat">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-chat"></use>
      </svg>
      Chat
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li  role="none"><a href="https://github.com/intermine/intermine" role="menuitem">
      <svg class="icon icon-github">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-github"></use>
      </svg>
      Github
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>

  <li  role="none"><a href="{{.Site.BaseURL}}community-calls" role="menuitem">
    <svg class="icon icon-phone">
      <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-phone"></use>
    </svg>
    Community calls</a></li>

  <li  role="none"><a href="mailto:info@intermine.org" role="menuitem">
      <svg class="icon icon-email">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-email"></use>
      </svg>
      info@intermine.org
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg></a></li>
</ul>
