<h4 class="categories contact">Contact</h4>
<ul>
  <li><a href="/contact">
      Overview
    </a></li>
  <li><a href="https://intermineorg.wordpress.com/">
      <svg class="icon icon-wordpress">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-wordpress"></use>
      </svg>
      Blog
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li><a href="https://twitter.com/intermineorg">
      <svg class="icon icon-twitter">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-twitter"></use>
      </svg>
      @intermineorg
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li><a href="https://lists.intermine.org/pipermail/dev/">
      <svg class="icon icon-email">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-email"></use>
      </svg>
      Developer&nbsp;email&nbsp;list
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li><a href="http://chat.intermine.org">
      <svg class="icon icon-chat">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-chat"></use>
      </svg>
      Chat
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>
  <li><a href="https://github.com/intermine/intermine">
      <svg class="icon icon-github">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-github"></use>
      </svg>
      Github
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg>
    </a></li>

  <li><a href="{{.Site.BaseURL}}/community-calls">
    <svg class="icon icon-phone">
      <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-phone"></use>
    </svg>
    Community calls</a></li>

  <li><a href="mailto:info@intermine.org">
      <svg class="icon icon-email">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-email"></use>
      </svg>
      info@intermine.org
      <svg class="icon icon-linkout">
        <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use>
      </svg></a></li>
</ul>
