<h4 class="categories biologists">Biologists</h4>
<ul>
    <!-- TODO TODO TODO TODO TODO
    <li><a href="/TODO">Search all InterMines</a></li-->
    <li><a href="http://registry.intermine.org/">Which InterMine for my organism?
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li><a href="{{.Site.BaseURL}}/tutorials">Tutorials and Videos</a></li>
    <li><a href="http://flymine.readthedocs.io/en/latest/">User help documentation
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li><a href="{{.Site.BaseURL}}/mobile-apps">Mobile Apps</a></li>
    <li><a href="http://intermine.readthedocs.io/en/latest/web-services/#api-and-client-libraries">API Clients
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
            </a></li>
</ul>
