<a href="{{.Site.BaseURL}}/developers" class="categories developers" tabindex="2">
    <h4>Developers</h4>
</a>
    <ul>
        <li><a href="http://intermine.readthedocs.io/en/latest/">Developer docs &amp; getting started</a></li>
        <li><a href="http://iodocs.apps.intermine.org/">API Docs</a></li>
        <li><a href="http://registry.intermine.org/">InterMine Registry</a></li>
        <li><a href="http://intermine.readthedocs.io/en/latest/web-services/#api-and-client-libraries">API Clients</a></li>
        <li><a href="https://lists.intermine.org/pipermail/dev/">Developer email list</a></li>
        <li><a href="http://chat.intermine.org">Support chat</a></li>
    </ul>
