<h4
class="categories biologists"
tabindex="0"
role="menuitem"
aria-label="Menu for Biologists"
aria-haspopup="true" 
aria-expanded="false"
>Biologists</h4>

<ul role="menu">
    <!-- TODO TODO TODO TODO TODO
    <li><a href="/TODO">Search all InterMines</a></li-->
    <li role="none"><a href="http://registry.intermine.org/" role="menuitem">Which InterMine for my organism?
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/tutorials" role="menuitem">Tutorials and Videos</a></li>
    <li role="none"><a href="http://flymine.readthedocs.io/en/latest/" role="menuitem">User help documentation
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink" role="menuitem"></use></svg></a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/mobile-apps" role="menuitem">Mobile Apps</a></li>
    <li role="none"><a href="http://intermine.readthedocs.io/en/latest/web-services/#api-and-client-libraries" role="menuitem">API Clients
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
            </a></li>
</ul>
