<h4 class="categories developers" aria-haspopup="true" aria-label="Developers">Developers</h4>
<ul role="menu">
    <li role="none"><a href="{{.Site.BaseURL}}/developers" role="menuitem">Overview</a></li>
    <li role="none"><a href="http://intermine.readthedocs.io/en/latest/" role="menuitem">Developer docs &amp; getting started
        <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
        </a></li>
    <li role="none"><a href="http://iodocs.apps.intermine.org/" role="menuitem">API Docs
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
    </a></li>
    <li role="none"><a href="http://registry.intermine.org/" role="menuitem">InterMine Registry
        <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
        </a></li>
    <li role="none"><a href="http://intermine.readthedocs.io/en/latest/web-services/#api-and-client-libraries" role="menuitem">API Clients
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
    </a></li>
    <li role="none"><a href="https://lists.intermine.org/pipermail/dev/" role="menuitem">Developer email list
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
    </a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/community-calls/developer-calls" role="menuitem">Developer calls</a></li>
    <li role="none"><a href="http://chat.intermine.org">Support chat
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
    </a></li>
    <li role="none"><a href="https://github.com/intermine" role="menuitem">InterMine on GitHub
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg>
    </a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/contributing" role="menuitem">Contributing guidelines</a></li>

</ul>
