<h4 class="categories resources">Resources</h4>
<ul>
    <li><a href="{{.Site.BaseURL}}/publications">Publications &amp; citing us</a></li>
    <li><a href="{{.Site.BaseURL}}/team">About the team</a></li>
    <li><a href="{{.Site.BaseURL}}/projects">Projects</a></li>
    <li><a href="{{.Site.BaseURL}}/contributors">Contributors</a></li>
    <li><a href="{{.Site.BaseURL}}/code-of-conduct">Code of Conduct</a></li>
    <li><a href="https://intermineorg.wordpress.com/logos/" target="_blank">Logos &amp; branding
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li><a href="https://github.com/intermine" target="_blank">InterMine on GitHub
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li><a href="https://intermineorg.wordpress.com/events/" target="_blank">Event Calendar
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li><a href="http://intermine.readthedocs.io/en/latest/about/#privacy-policy" target="_blank">Privacy Policy
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
</ul>
