<h4 class="categories resources" aria-haspopup="true" aria-label="Resources">Resources</h4>
<ul role="menu">
    <li role="none"><a href="{{.Site.BaseURL}}/publications" role="menuitem">Publications &amp; citing us</a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/team" role="menuitem">About the team</a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/projects" role="menuitem">Projects</a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/contributors" role="menuitem">Contributors</a></li>
    <li role="none"><a href="{{.Site.BaseURL}}/code-of-conduct"role="menuitem" >Code of Conduct</a></li>
    <li role="none"><a href="https://intermineorg.wordpress.com/logos/" role="menuitem">Logos &amp; branding
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li role="none"><a href="https://github.com/intermine" role="menuitem">InterMine on GitHub
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li role="none"><a href="https://intermineorg.wordpress.com/events/" role="menuitem">Event Calendar
        <svg class="icon icon-linkout">
                <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
    <li role="none"><a href="http://intermine.readthedocs.io/en/latest/about/#privacy-policy" role="menuitem">Privacy Policy
            <svg class="icon icon-linkout">
            <use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-externallink"></use></svg></a></li>
</ul>
