<!DOCTYPE html>
<html>
    {{partial "head.html" . }}

    <body>
        {{ partial "v2/navbar.html" . }}
        {{ partial "v2/homepage-landing.html" . }}
        {{ partial "v2/homepage-section-2.html" . }}
        {{ partial "v2/homepage-contribution.html" . }}
        {{ partial "v2/homepage-intermine-feature.html" . }}
        {{ partial "v2/homepage-search-mine.html" . }}
        {{ partial "v2/footer.html" . }}
    </body>

    <script src="{{.Site.BaseURL}}/js/v2/menu.js" defer></script>

</html>