.im-landing-section-wrapper {
  display: flex;
}
.im-landing-first-section {
  align-items: flex-end;
  display: flex;
}
.im-landing-tagline-container {
  width: 32rem;
  padding-bottom: 10rem;
}
.im-landing-tagline {
  color: #111;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}
.im-landing-tagline-para {
  color: #333;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 2rem;
}
.im-landing-image-container {
  height: 100%;
  padding: 6rem 1.5rem 4rem 4rem;
}
.im-landing-image {
  width: 100%;
  object-fit: contain;
}
.im-landing-cta {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.875rem;
  margin-top: 2rem;
  width: 100%;
  text-transform: uppercase;
}
@media screen and (max-width: 75em) {
  .im-landing-tagline {
    font-size: 2rem;
  }
  .im-landing-tagline-para {
    font-size: 1rem;
  }
  .im-landing-tagline-container {
    width: 20rem;
    padding-bottom: 5rem;
  }
  .im-landing-image-container {
    padding: 4rem 1.5rem 4rem;
  }
}
@media screen and (max-width: 50em) {
  .im-landing-section-wrapper {
    flex-direction: column-reverse;
  }
  .im-landing-tagline-container {
    width: 100%;
    padding-right: 1.5rem;
  }
  .im-landing-image-container {
    padding: 4rem 1.5rem 4rem 0;
  }
}
.im-section-2-para {
  margin-top: 3rem;
  line-height: 1.5;
  font-size: 1.2rem;
}
.im-section-2-title-bg {
  background-image: url('/images/svg/organisms-collection-light.svg');
  background-size: 10rem;
}
.im-registry-action-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@media screen and (max-width: 75em) {
  .im-section-2 {
    flex-direction: column;
    padding-right: 1.5rem;
  }
  .im-section-2 .im-section-title-container {
    width: 100%;
    max-width: unset;
  }
  .im-section-2 .im-section-content-container {
    padding: 3rem 0;
  }
  .im-mines-card-container {
    margin: 0 1rem 1rem 0;
  }
}
.im-contribution-section {
  align-items: center;
  background-image: url('/images/jpg/code-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121213;
  color: #fff;
  display: flex;
  min-height: 30rem;
}
.im-contribution-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 50em) {
  .im-contribution-section {
    min-height: 20rem;
    padding: 2rem;
  }
}
.im-feature-container {
  padding: 3rem 0 1rem;
  max-width: 25rem;
}
.im-feature-heading {
  align-items: center;
  color: #555;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.im-feature-para {
  color: #777;
  line-height: 1.5;
}
.im-feature-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
.im-icon-blue {
  fill: #03A9F4;
}
.im-icon-violet {
  fill: #673AB7;
}
#demo-imtable {
  border: 3px solid #222;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 75em) {
  .im-feature-section .im-section-wrapper {
    flex-direction: column;
    padding-right: 1.5rem;
  }
  .im-feature-section .im-section-title-container {
    width: 100%;
    max-width: unset;
  }
  .im-features-container {
    display: flex;
    flex-wrap: wrap;
  }
  .im-feature-container {
    margin-right: 1rem;
    flex: 1 0 25rem;
    max-width: unset;
  }
  .im-feature-section .im-section-content-container {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 38em) {
  #demo-imtable {
    overflow: auto;
  }
  .im-feature-heading {
    align-items: flex-start;
  }
  .im-feature-container {
    flex: 1 0 100%;
  }
}
.im-search-section {
  padding: 3rem 1.5rem;
}
.im-search-mine-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.im-search-mine-title {
  color: #222;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.im-search-mine-sub {
  color: #777;
  font-size: 0.875rem;
}
.im-search-container {
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #222;
  display: flex;
  margin: 1rem 0;
  max-width: 45rem;
  overflow: hidden;
  width: 100%;
}
.im-search-box {
  padding: 0.5rem 1rem;
  flex: 1;
}
.im-search-box-input {
  border: none;
  color: #555;
  width: 100%;
  font-size: 1rem;
}
.im-search-box-input:focus {
  outline: none;
}
.im-search-btn {
  border: 0;
  border-radius: 0;
  background: #222;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.im-search-btn:hover {
  background: #444;
  cursor: pointer;
}
.im-search-btn:active {
  background-color: #000;
}
@media screen and (max-width: 38rem) {
  .im-search-container {
    flex-direction: column;
  }
  .im-search-mine-title {
    margin-bottom: 0.5rem;
  }
}
.im-navbar-wrapper {
  color: #000;
  display: flex;
}
.im-logo-container {
  align-items: center;
  display: flex;
}
.im-navbar-logo {
  height: 2rem;
}
.im-navbar-menu-item-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.im-navbar-menu-item {
  cursor: default;
  font-weight: 800;
  padding: 2rem 1.5rem;
  position: relative;
}
.im-menu-item-children-hidden .im-menu-item-children-container {
  display: none;
}
.im-menu-item-children-container {
  padding: 1rem 0;
  position: absolute;
  right: 0;
}
.im-menu-item-children-container::after {
  content: '';
  top: 0.2rem;
  right: 3rem;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
}
.im-menu-item-children-wrapper {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: #000;
  min-width: 23rem;
  padding: 0.25rem;
}
.im-navbar-menu-item .im-menu-item-child {
  align-items: center;
  display: flex;
  border-radius: 0.5rem;
  color: #222;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.im-menu-item-child:hover {
  background: rgba(192, 216, 72, 0.3);
}
.im-external-ico {
  margin-left: auto;
}
.im-mobile-navbar-menu-container {
  display: none;
  margin-left: auto;
  padding: 1rem;
}
.im-navbar-menu-item.im-menu-item-children-hidden:hover .im-menu-item-children-container {
  display: block;
}
@media screen and (max-width: 50rem) {
  .im-navbar-menu-item-container {
    display: none;
  }
  .im-mobile-navbar-menu-container {
    display: block;
  }
  .im-navbar-logo {
    height: 1.5rem;
  }
  .im-mobile-menu-open {
    overflow: hidden;
  }
  #im-navbar.active {
    background: #fff;
    transition: 0s;
  }
}
.im-container-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.im-container-pl {
  padding-left: 1.5rem;
}
.im-container-pb {
  padding-bottom: 3rem;
}
.im-container-inner {
  width: 100%;
  max-width: 100rem;
}
.im-section-wrapper {
  display: flex;
  padding-top: 5rem;
}
.im-section-title-container {
  max-width: 30rem;
  width: 100%;
}
.im-section-title {
  color: #333;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1;
  padding-bottom: 1.5rem;
}
.im-section-content-container,
.im-section-title-bg {
  flex: 1;
}
.im-section-content-container {
  padding: 3rem 1.5rem 0 3rem;
}
@media screen and (max-width: 40em) {
  .im-section-title {
    font-size: 2rem;
    padding-bottom: 0;
  }
}
.im-flex {
  display: flex;
}
.im-flex-col {
  flex-direction: column;
}
.im-flex-1 {
  flex: 1;
}
.im-icon {
  height: 1rem;
  width: 1rem;
}
.im-link,
.im-link:active,
.im-link:visited {
  color: #007bff;
  fill: #007bff;
  text-decoration: none;
}
.im-link.im-dark,
.im-link:active.im-dark,
.im-link:visited.im-dark {
  color: #0bf;
  fill: #0bf;
  text-decoration: none;
}
.im-link {
  align-items: center;
  display: inline-flex;
}
.im-link:hover {
  color: #007bff;
  text-decoration: underline;
}
.im-para {
  line-height: 1.2;
}
.im-disclaimer-container {
  padding: 3rem 0;
  color: #999;
  font-size: 0.7rem;
}
.im-btn {
  align-items: center;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  line-height: 1.5;
  text-decoration: none;
}
.im-btn:hover {
  text-decoration: none;
}
.im-btn-contained {
  padding: 1rem 2rem;
}
.im-btn-contained:hover {
  opacity: 0.8;
}
.im-btn-contained:active {
  opacity: 1;
}
.im-btn-contained.im-btn-primary,
.im-btn-contained.im-btn-primary:visited,
.im-btn-contained.im-btn-primary:active {
  color: #000;
  background-color: #C0D848;
}
.im-ghost-btn {
  background: transparent;
  padding: 0.5rem 1rem;
}
.im-ghost-btn.im-btn-icon {
  padding: 0.5rem;
  border-radius: 50%;
}
.im-ghost-btn.im-info-btn {
  color: #005bff;
  fill: #005bff;
}
.im-ghost-btn.im-info-btn:hover {
  background: rgba(0, 91, 255, 0.05);
}
.im-footer {
  background: #101010;
  color: #999;
  margin: 0;
}
.im-footer-wrapper {
  padding: 8rem 1.5rem 0 0;
}
.im-footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
}
.im-footer-logo {
  width: 4rem;
  margin-bottom: 2rem;
}
.im-footer-intro-text {
  color: #aaa;
  font-size: 0.875rem;
}
.im-footer-section-1 {
  display: flex;
}
.im-footer-funding {
  border-top: 1px solid #333;
  padding-top: 2rem;
}
.im-footer-links-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.im-footer-link-ul {
  list-style: none;
  margin: 0 2rem 1rem 0;
}
.im-footer-link-li-header {
  color: #ddd;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.im-footer-link-li .im-link {
  color: #aaa;
  fill: #aaa;
  line-height: 1.5;
  font-size: 0.875rem;
}
.im-footer-link-li .im-link svg {
  transform: scale(0.7);
}
.im-footer-funding-logo-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.im-footer-affiliation-logo {
  height: 2.5rem;
  margin: 0 2rem 2rem 0;
}
.im-footer-contact-credit {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.im-footer-contact-credit .im-link {
  color: #999;
}
.im-icon-link,
.im-icon-link:hover {
  text-decoration: none;
}
.im-footer-contact-credit .im-icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #999;
  margin-right: 0.5rem;
}
.im-footer-contact-credit .im-icon:hover {
  fill: #fff;
}
@media screen and (max-width: 75rem) {
  .im-footer-section-1 {
    flex-direction: column;
  }
  .im-footer-link-ul {
    flex: 1 0 14rem;
  }
  .im-footer-links-container {
    justify-content: flex-start;
    padding-top: 3rem;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 38rem) {
  .im-footer-affiliation-logo {
    height: 2rem;
  }
  .im-footer-contact-credit .im-icon {
    height: 1rem;
    width: 1rem;
  }
}
.im-mobile-ham {
  --color: #000;
  width: 20px;
  height: 26px;
  outline: none;
  position: relative;
  display: inline-flex;
  margin-top: -2px;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
.im-mobile-ham svg {
  width: 48px;
  height: 36px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.im-mobile-ham svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0);
}
.im-mobile-ham svg path:nth-child(2) {
  --duration: 0.7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.im-mobile-ham svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}
.im-mobile-ham.active svg path {
  --offset: 57px;
}
.im-mobile-ham.active svg path:nth-child(1),
.im-mobile-ham.active svg path:nth-child(3) {
  --delay: 0.15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.im-mobile-ham.active svg path:nth-child(2) {
  --duration: 0.4s;
  --offset: 2px;
  --array-1: 1px;
}
.im-mobile-ham.active svg path:nth-child(3) {
  --offset: 58px;
}
.im-mobile-navbar-menu {
  background: #fff;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 57px;
  bottom: 100%;
  transition: 0.3s;
}
.im-mobile-navbar-menu .im-navbar-menu-item {
  padding: 0;
  margin: 1.5rem;
}
.im-mobile-navbar-menu.active {
  bottom: 0 ;
  overflow: auto;
}
#im-navbar {
  transition: 0.5s;
}
.im-post-wrapper {
  padding: 5rem 1.5rem 0;
}
.im-post-title {
  font-size: 5.5rem;
  line-height: 1;
  max-width: 40rem;
  margin-bottom: 5rem;
}
.im-post-intro {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 5rem;
  padding-left: 40rem;
}
.im-post-section {
  display: flex;
  padding: 3rem 0 5rem;
}
.im-post-special-section {
  border-radius: 1rem;
  display: flex;
  padding: 5rem;
}
.im-post-margin {
  margin: 2rem 0;
}
.im-post-section-stack {
  display: flex;
  flex-direction: column;
}
.im-post-section-heading {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  max-width: 30rem;
  line-height: 1;
}
.im-post-section-h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.im-post-section-para {
  font-size: 1.2rem;
  line-height: 1.5;
}
.im-post-ul {
  margin: 2rem;
}
.im-post-ul li {
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 75rem) {
  .im-post-title {
    font-size: 3rem;
    max-width: 25rem;
  }
  .im-post-intro {
    padding-left: 25rem;
  }
}
@media screen and (max-width: 50rem) {
  .im-post-title {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .im-post-intro {
    padding-left: 0;
  }
  .im-post-section-para {
    font-size: 1.1rem;
  }
  .im-post-section-heading {
    font-size: 2rem;
  }
  .im-post-ul {
    margin: 2rem 1rem;
  }
}
.im-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.im-card-container {
  border: 1px solid #eee;
  border-radius: 0.5rem;
  display: flex;
  margin: 0 2rem 2rem 0;
  min-height: 15rem;
  flex-direction: column;
  transition: 0.3s;
  flex: 1 0 18rem;
}
.im-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.im-card-header-container {
  align-items: center;
  color: #222;
  display: flex;
  padding: 1.5rem;
}
.im-card-avatar-svg,
.im-card-avatar {
  height: 1.5rem;
  margin-right: 1rem;
}
.im-card-avatar-svg {
  width: 1.5rem;
}
.im-card-title {
  font-size: 1rem;
  font-weight: bold;
}
.im-card-content {
  color: #333;
  flex: 1;
  line-height: 1.2;
  padding: 0.5rem 1.5rem;
}
.im-card-action-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0.5rem;
}
.im-profile-cards-container {
  display: flex;
  flex-wrap: wrap;
}
.im-profile-card-container {
  border: 1px solid #efefef;
  background: #f7f7f7;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 2rem 2rem 0;
  width: 22rem;
}
.im-profile-card-links {
  align-items: center;
  display: flex;
  padding-left: 5rem;
}
.im-profile-card-links .im-link {
  cursor: pointer;
}
.im-profile-card-links .im-icon {
  fill: #444;
  height: 1.5rem;
  margin-left: 1rem;
  pointer-events: none;
  width: 1.5rem;
  transition: 0.3s;
}
.im-profile-card-links .im-link:hover .im-icon {
  fill: #005bff;
}
.im-profile-card-content-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  position: relative;
  margin-top: 5rem;
  flex: 1;
}
.im-profile-card-avatar-container {
  position: absolute;
  top: -3rem;
  left: 1rem;
}
.im-profile-card-avatar {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}
.im-profile-card-name {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 3rem 0 1rem;
  line-height: 1;
}
.im-profile-card-link-container {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 52rem) {
  .im-profile-card-container {
    width: 100%;
  }
}
.im-light-bg {
  background: #fff;
}
.im-light-10-bg {
  background: #f7f7f7;
}
.im-light-info-bg {
  background: #EBF4FF;
}
.im-light-yellow-bg {
  background: #F7E6A1;
}
.im-mobile-app-apps-section {
  border-radius: 1rem;
  display: flex;
  min-height: 30rem;
  overflow: hidden;
}
.im-android-section,
.im-ios-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 3rem;
}
.im-android-section {
  background: #092F42;
}
.im-ios-section {
  background: #eee;
}
.im-app-logo {
  height: 1rem;
}
.im-about-app {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-top: 2rem;
}
.im-android-section .im-about-app {
  color: #fff;
}
.im-app-download {
  margin-top: 2rem;
  height: 3rem;
  width: auto;
}
.im-app-download-link {
  display: block;
  margin-top: auto;
}
@media screen and (max-width: 40rem) {
  .im-mobile-app-apps-section {
    flex-direction: column;
  }
}
.im-developer-section {
  padding-bottom: 5rem;
}
.im-team-card-container {
  display: flex;
  flex-wrap: wrap;
}
.im-team-card-container .im-profile-card-container {
  flex: 1 0 35rem;
}
@media screen and (max-width: 38em) {
  .im-team-card-container .im-profile-card-container {
    flex: 1 0 100%;
  }
}
.im-project-cards-container {
  display: flex;
  flex-wrap: wrap;
}
.im-project-cards-container .im-card-container:hover {
  box-shadow: none;
}
.im-project-card-img-container {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 4rem;
}
.im-project-card-img-container img {
  height: 3rem;
  width: 100%;
  object-fit: contain;
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
p:empty {
  display: none;
}
/*# sourceMappingURL=style.css.map */