{{ range .Site.Data.navbar.navbarItems }}
{{ if eq .id "developers"}}
<div class="im-cards-container im-developer-section">
    {{ range .children }}
    {{ if .description }}
    {{ partial "v2/card" 
            (dict 
                "headerSVG_ID" .iconId 
                "headerFallBackImgSrc" "https://cdn.rawgit.com/intermine/design-materials/78a13db5/logos/intermine/squareish/45x45.png"
                "title" .title
                "content" (truncate 150 (safeHTML .description))
                "isExternalLink" .isExternalLink
                "href" .href
                "actionAnchorTitle" (print "Go to " .title )
                "actionTitle" "Go there now"
            )
        }}
    {{ end }}
    {{ end }}
</div>
{{ end }}
{{ end }}