{{ $citations := getJSON "https://api.zotero.org/groups/2117194/collections/WE489M9J/items?itemType=-attachment&sort=date" }}

{{ $publicationByInterMineTeamURL := "https://api.zotero.org/groups/2117194/collections/WE489M9J/items?itemType=-attachment&sort=date"}}
{{ $citationANdPublicationAboutInterMineURL := "https://api.zotero.org/groups/2117194/collections/DWCKUHXT/items?itemType=-attachment&sort=date" }}


{{ partial "v2/publication-list" (dict 
    "publicationGetURL" $publicationByInterMineTeamURL 
    "title" "Publications by the InterMine Team and Community"
) . }}

{{ partial "v2/publication-list" (dict 
    "publicationGetURL" $citationANdPublicationAboutInterMineURL
    "title" "Citations and Publications about Community-run InterMines"
) . }}


<script>
    // Check for the doi query parameter, and if present, copy the publication
    // using the same doi URL into a highlighted element near the top.
    (function () {
        try {
            if (!window.location.search.length) return;

            var urlParams = new URLSearchParams(window.location.search);
            var doiParam = urlParams.get("doi");

            if (!doiParam.length) return;

            var doiUrl = "http://doi.org/" + doiParam;
            var anchorElem = document.querySelector("a[href='" + doiUrl + "']");

            // Currently if anchor element is not found then we are returning.
            // In future we can add some warning/error message at the top.
            if (!anchorElem) return;


            // These elements are present in /content/publication/index.html. (at top)
            var ulElem = document.querySelector('#citation-container')
            var divElem = document.querySelector('#publication-recommendation')

            var liElem = document.createElement("li");
            liElem.classList.add('im-publication-highlight')
            liElem.appendChild(anchorElem.parentNode.cloneNode(true))

            anchorElem.classList.add('im-light-yellow-bg')
            ulElem.appendChild(liElem)
            divElem.style.display = 'block'

        } catch (error) {
            console.error("Error occurred when trying to acquire publication linked with doi parameter", error);
        }
    })();
</script>