{{ define "main" }}
<div class="im-container-outer">
  <div class="im-container-inner im-post-wrapper">
    <h1 class="im-post-title">
      {{ .Title }}
    </h1>

    <p class="im-post-intro">
      We host two types of community calls, <a class="im-link" href="/community-calls/developer-calls/">Developer
        Calls</a> and <a class="im-link" href="/community-calls/outreach-calls/">Community Outreach Calls</a>, aimed at
      slightly different but
      overlapping audiences.
    </p>

    <div class="im-post-section im-post-margin">
      <div class="im-post-section-stack">
        <h2 class="im-post-section-heading">
          Developer Calls
        </h2>
        <div class="im-post-section-para">

          InterMine developer calls are held roughly once a month, on the first tuesday of the month, generally at
          17:00 UK time
          (with occasional time shifts around daylight savings clock changes). These calls are generally
          techie-oriented and
          consist of topics such as:
          <ul class="im-post-ul">
            <li>
              Upcoming technical updates to InterMine.
            </li>
            <li>
              Discussions regarding the InterMine data model.
            </li>
            <li>
              General updates, e.g. upcoming training events, Google Summer of Code, conferences.
            </li>
          </ul>

          The call is open to anyone, but developers and InterMine admins are especially encouraged to attend. Calls
          are shown
          on
          the
          {{ partial "v2/external-link" (dict "href" "https://intermineorg.wordpress.com/events/" "title" "InterMine Calendar" "isInline" "true") . }},
          and agendas with
          joining instructions are sent to
          the
          {{ partial "v2/external-link" (dict "href" "https://lists.intermine.org/mailman/listinfo/dev" "title" "developer mailing list" "isInline" "true") . }}
          before
          every call.
        </div>
      </div>
    </div>

    <div class="im-post-section im-post-margin">
      <div class="im-post-section-stack">
        <h2 class="im-post-section-heading">
          Community Outreach Calls
        </h2>
        <div class="im-post-section-para">

          If you’re an organisation that runs an InterMine, there’s a good chance you have (or wish to have!) a
          community around
          you that may need engagement, training, support, and encouragement to join in. We run quarterly Community
          Outreach
          calls, where we talk about different ways to run a successful, happy community.

          The call info ({{ partial "v2/external-link" (dict "href" "https://github.com/intermine/outreach/issues/15"
          "title" "2019" "isInline" "true") . }},
          {{ partial "v2/external-link" (dict "href" "https://github.com/intermine/outreach/issues/9" "title" "2018" "isInline" "true") . }})
          is always posted on GitHub so others can comment openly and add suggestions.
        </div>
      </div>
    </div>

    <div class="im-post-section im-post-margin">
      <div class="im-post-section-stack">
        <h2 class="im-post-section-heading">
          Frequently Asked Questions
        </h2>

        <h3 class="im-post-section-h3">
          What topics does the outreach call cover?
        </h3>
        <div class="im-post-section-para">
          We try to cover any and all topics related to working with your community - whether this might be bringing in
          new
          contributors, preprints and open science, training your community members, addressing diversity and
          inclusivity,
          managing social media streams, interesting upcoming events, etc. We generally have 1-2 guest speakers per
          call.
        </div>

        <h3 class="im-post-section-h3">
          What sort of audience attends this call?
        </h3>
        <div class="im-post-section-para">
          Our call audience is generally between 10 and 30 people, a mixture of InterMine users, curators, students,
          invited
          speakers, developers, and sometimes also attendees from outside the InterMine community who are interested in
          the call
          topics. We avoid any overly techie themes in these calls, as backgrounds vary.
        </div>

        <h3 class="im-post-section-h3">
          Do I have to be in Cambridge?
        </h3>
        <div class="im-post-section-para">
          No, all our calls are conducted remotely, generally via Zoom. Joining links are always announced on the call
          agendas ({{ partial "v2/external-link" (dict "href" "https://github.com/intermine/outreach/issues/15"
          "title" "2019" "isInline" "true") . }},
          {{ partial "v2/external-link" (dict "href" "https://github.com/intermine/outreach/issues/9" "title" "2018" "isInline" "true") . }}).
        </div>

      </div>
    </div>

  </div>
</div>
{{ end }}