{{ define "main" }}
<div class="im-container-outer">
    <div class="im-container-inner im-post-wrapper">
        <h1 class="im-post-title">
            {{ .Title }}
        </h1>
        <div class="im-post-intro">
            Welcome! We’re excited to have you join the community. InterMine integrates biological data,
            but you don’t have to be a biologist to contribute to InterMine. Some of our entry-level
            issues only require knowledge of the relevant programming language, but others may require more in-depth
            understanding.
            <br><br>
            If you’d like to learn a bit more about InterMine, we have a nice 5 minute video for you to sum things up.
            If you prefer textual learning resources, you could look at the
            {{ partial "v2/external-link" (dict "href" "http://intermine.org/im-docs" "title" "InterMine documentation" ) . }}
            for a technical overview of InterMine’s server, the
            {{ partial "v2/external-link" (dict "href" "http://intermine.org/intermine-user-docs" "title" "user documentation" ) . }}
            a for a biologist/bioinformatician oriented overview, or you could hop straight into our
            {{ partial "v2/external-link" (dict "href" "http://intermine.org/training-portal/python-tutorial" "title" "Python tutorial" ) . }}
            to learn more about querying our data model.

            You can also take a look at the <a class="im-link" href="/developers">Developers</a> section of this site.
        </div>

        <div class="im-post-section im-post-margin">
            <div class="im-post-section-stack">
                <h2 class="im-post-section-heading">
                    New to open source?
                </h2>
                <div class="im-post-section-para">
                    Perhaps you’ve never made a pull request before, or you’ve used git a little but never
                    collaboratively? Have a look through the open source guide to submitting contributions to give you a
                    good idea of how things work.

                    Some of our issues are marked first-timers-only - these are issues that may be relatively
                    straightforward, where we’ll happily walk you through steps you’re unsure about. (psst, you can also
                    search GitHub for all issues marked with this label, not just InterMine).
                </div>
            </div>
        </div>

        <div class="im-post-section">
            <div class="im-post-section-stack">
                <h2 class="im-post-section-heading">
                    Contributing Guidelines
                </h2>
                <div class="im-post-section-para">
                    InterMine has a large variety of repositories in a number of different languages. We have a list of
                    issues marked up with labels such as “Help Wanted”, “Beginner”, “Good first bug” that you can choose
                    from, but you’re welcome to offer help on any issue if you think you understand what’s going on and
                    what needs to be done.
                </div>

                <h3 class="im-post-section-h3">
                    Picking up tasks
                </h3>

                <div class="im-post-section-para">
                    If you find an issue that interests you, here’s what to do. Note that one of the key tasks is
                    communication!
                </div>

                <ul class="im-post-ul im-post-section-para">
                    <li>
                        Read through the issue and <b>make sure you understand what to do</b>. If you need to clarify
                        details, it’s okay to ask in the issue.
                    </li>
                    <li>
                        Once you feel you’re ready to work on the issue, <b>comment on the issue</b> to let us know
                        you’re working on it! This is important to ensure that no-one else picks up the ticket and works
                        on it at the same time.
                    </li>
                    <li>
                        <b>Work on the issue</b> - make sure to conform to any guidelines there may be in the repo if
                        relevant, e.g. write tests and make sure the pass in CI, comment and document your code, make
                        sure the style formatting checks pass, etc. Ask for advice if needed.
                    </li>
                    <li>
                        When you think your work is ready - <b>make a pull request!</b> You’re a star! ⭐️
                    </li>
                    <li>
                        We will <b>review your work</b>, checking for quality and correctness. It may take us a little
                        while to review it, depending on what else is going on at the time. We may have feedback or
                        changes required before we can merge your pull request.
                    </li>
                    <li>
                        Once it’s merged - bask in glory. You’ve just committed code to an open source project!
                    </li>
                </ul>

                <h3 class="im-post-section-h3">
                    Interested in something bigger than an issue?
                </h3>

                <ul class="im-post-ul im-post-section-para">
                    <li>
                        Are you a student? Watch our
                        {{ partial "v2/external-link" (dict "href" "https://intermineorg.wordpress.com/" "title" "blog" ) . }},
                        {{ partial "v2/external-link" (dict "href" "http://intermine.org/im-docs/docs/support/mailing-list/" "title" "mailing list" ) . }},
                        or
                        {{ partial "v2/external-link" (dict "href" "https://twitter.com/intermineorg/" "title" "twitter" ) . }}
                        account to find out more about working with us during
                        {{ partial "v2/external-link" (dict "href" "https://summerofcode.withgoogle.com/" "title" "Google Summer of Code" ) . }}
                        (usually around feb/march every year).
                        {{ partial "v2/external-link" (dict "href" "http://intermine.org/internships/" "title" "Visit the InterMine GSoC site" ) . }}.
                    </li>
                    <li>
                        If we’re hiring, we generally announce vacancies on our
                        {{ partial "v2/external-link" (dict "href" "http://intermine.org/im-docs/docs/support/mailing-list/" "title" "mailing list" ) . }}.
                    </li>
                    <li>
                        If you have other ideas you’d like to discuss, feel free to <a class="im-link"
                            href="/contact">contact us</a> to discuss further.
                    </li>
                </ul>

                <h3 class="im-post-section-h3">
                    General guidelines
                </h3>

                <ul class="im-post-ul im-post-section-para">
                    <li>
                        In busy periods, we may reassign inactive issues (with no PRs/comments/commits) after 3-4 days.
                        Please don’t feel bad if this happens! You’re still welcome to contribute to other issues when
                        you have the time.
                    </li>
                    <li>
                        Be nice. Unpleasant behaviour in our community will not be tolerated. InterMine has a <a
                            class="im-link" href="/code-of-conduct">Code of Conduct</a>
                        that all contributors are expected to follow.
                    </li>
                    <li>
                        If you find documentation is unclear or missing, make a PR to fix it once you know what needs to
                        be done.
                    </li>
                    <li>
                        If an individual repository has contributing guidelines or style guidelines, they override any
                        advice given on this page.
                    </li>
                    <li>
                        In need of help? Try visiting our <a class="im-link" href="/contact">contact
                            us</a> pages for ways to get more help. Also, feel free to pitch
                        in if you think you know the answer to queries on the
                        {{ partial "v2/external-link" (dict "href" "http://intermine.org/im-docs/docs/support/mailing-list/" "title" "mailing list" ) . }}
                        or
                        {{ partial "v2/external-link" (dict "href" "http://chat.intermine.org/" "title" "chat!" ) . }}
                    </li>
                    <li>
                        Thank you for being awesome!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}