<!DOCTYPE html>
<html>

{{partial "head.html" . }}

<body>
    {{ partial "header.html" .}}
    <main>
        <h2>
          {{.Title}}
        </h2>
        <div>{{.Content}}</div>
        <div>

            {{ range .Data.Pages.ByWeight }}
            <div class="community-member-list">
                  <h3>{{ .Title }}</h3>
                    <ul>
                      {{ $baseurl := .Site.BaseURL }}
                      {{range $member := .Params.members}}
                        <li>
                          <a href="{{$member.link.url}}" class="{{$member.link.type}}">
                            <img src="{{ $member.picture }}" width="113" height="113"/>                            
                            <span>
                              <svg class="icon icon-{{$member.link.type}}"><use xlink:href='{{$baseurl}}/images/symbol-defs.svg#icon-{{$member.link.type}}'></use></svg>
                              {{$member.name}}
                            </span>
                          </a></li>
                      {{end}}
                    </ul>
            </div>
            {{ end }}
        </div>
    </main>

    {{partial "footer.html" . }}

</body>

</html>
