<!DOCTYPE html>
<html>

{{partial "head.html" . }}

<body>
    {{ partial "header.html" .}}
    <main>
        <h2>
          {{.Title}}
        </h2>
        <div>{{.Content}}</div>
        <div class="team-list">

            {{ range .Data.Pages }}
            <div class="team-member">
              {{if isset .Params "picture"}}
                <img src="{{ .Params.picture }}" width="113"/>
              {{else}}
                {{if isset .Params "localpicture"}}
                  <img src="{{.Site.BaseURL}}/images/{{ .Params.localpicture }}" width="113" />
                {{else}}
                  <div class="placeholder"></div>
                {{end}}
              {{end}}
                <div class="details">
                  <h3>{{ .Params.name }}</h3> {{.Content}}
                    <ul>
                      <li><svg class="icon icon-email"><use xlink:href="{{.Site.BaseURL}}/images/symbol-defs.svg#icon-email"></use></svg>{{.Params.email}}</li>
                      {{ $baseurl := .Site.BaseURL }}
                      {{range $link := .Params.links}}
                          <li><a href="{{$link.url}}" class="{{$link.type}}"><svg class="icon icon-{{$link.type}}"><use xlink:href='{{$baseurl}}/images/symbol-defs.svg#icon-{{$link.type}}'></use></svg>{{$link.text}}</a></li>
                      {{end}}

                    </ul>
                </div>
            </div>
            {{ end }}
        </div>

    </main>

    {{partial "footer.html" . }}

</body>

</html>
