<footer class="im-container-outer im-footer im-container-pl">
    <div class="im-container-inner">
        <div class="im-footer-wrapper">
            <div class="im-footer-logo-wrapper">
                <img src="{{.Site.BaseURL}}/images/png/intermine-logo-small.png" alt="InterMine's Logo"
                    class="im-footer-logo" />
                <p class="im-footer-intro-text">
                    InterMine is open source (LGPL 2.1) and free to use. It's a software system that you can install on
                    your own servers to
                    make data available on the web.
                </p>
            </div>
        </div>
        <div class="im-footer-funders">

        </div>
    </div>
</footer>