<div class="im-container-outer im-light-bg im-container-pl">
    <div class="im-container-inner">
        <div class="im-section-wrapper im-section-2">
            <div class="im-section-title-container im-flex im-flex-col">
                <div class="im-section-title">
                    There's an InterMine for everyone
                </div>
                <p class="im-section-2-para">
                    There are many different InterMines worldwide, covering a broad
                    range of model organisms and life science research areas.
                    With InterMine you can explore organism and other research data provided by many different
                    organizations, moving between databases using criteria such as homology.
                </p>
            </div>
            <div class="im-section-content-container">
                {{ partial "v2/registry" . }}
            </div>
        </div>
    </div>
</div>