<div class="im-landing-section">
    <div class='im-landing-first-section-outer'>
        <div class="im-landing-first-section">
            <div class="im-landing-tagline-container">
                <h1 class="im-landing-tagline">Disparate data in</h1>
                <h1 class="im-landing-tagline">Unified data out </h1>
                <p class='im-landing-tagline-para'>
                    InterMine integrates biological data sources,
                    making it easy to query<br /> and analyse data.
                </p>
            </div>
        </div>
    </div>
    <div class="im-landing-second-section-outer">
        <div class="im-landing-second-section">
            <div class="im-landing-image-container">
                <img class="im-landing-image" src="{{.Site.BaseURL}}/images/png/disparate-data-in-unified-data-out.png"
                    alt="Disparate data in unified data out" />
            </div>
        </div>
    </div>
</div>