<div class="im-container-outer im-light-bg im-container-pl">
    <div class="im-container-inner">
        <div class="im-section-wrapper">
            <div class="im-section-title-container im-flex im-flex-col">
                <div class="im-section-title">
                    # There's an InterMine for (almost) anyone
                </div>
                <div class="im-section-2-title-bg im-section-title-bg"></div>
            </div>
            <div class="im-section-content-container">
                <p class="im-section-2-para">
                    With InterMine you can explore organism and other research data provided by many different
                    organizations, moving between databases using criteria such as homology.
                </p>
                {{ partial "v2/registry" . }}
            </div>
        </div>
    </div>
</div>