<div class="im-container-outer im-contribution-section im-container-pl">
    <div class="im-container-inner">
        <div class="im-section-wrapper">
            <div class="im-contribution-text">
                Are you interested in contributing to InterMine? <br>
                <a class="im-link" href="/contributing">Visit our contributor guide</a> or admire <a class="im-link"
                    href="/contributors">our amazing contributors.</a>
            </div>
        </div>
    </div>
</div>