<div class="im-container-outer im-light-10-bg im-container-pl">
    <div class="im-container-inner">
        <div class="im-section-wrapper">
            <div class="im-section-title-container im-flex im-flex-col">
                <div class="im-section-title">
                    # About InterMine
                </div>
                <div class="im-section-1-title-bg im-section-title-bg"></div>
            </div>
            <div class="im-section-content-container">
                <p class="im-section-1-para">
                    InterMine is open source (LGPL 2.1) and free to use. It's a software system that you can install on
                    your own servers to
                    make data available on the web. There are many different InterMines worldwide, covering a broad
                    range of model organisms
                    and life science research areas.
                </p>
            </div>
        </div>
    </div>
</div>