<div class="im-mobile-navbar-menu-container">
    <button class="im-mobile-ham" id="im-mobile-ham">
        <svg viewBox="0 0 64 48">
            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
        </svg>
    </button>

    <div class="im-mobile-navbar-menu" id="im-mobile-navbar-menu">
        {{ range .Site.Data.navbar.navbarItems }}
        <div class="im-navbar-menu-item">
            {{ .title }}

            {{range .children}}
            {{ if .isExternalLink }}
            <a href="{{.href}}" target="_blank" class="im-menu-item-child">
                <svg class="im-icon">
                    <use xlink:href="{{$.Site.BaseURL}}/images/symbol-defs.svg#{{.iconId}}"></use>
                </svg>&nbsp; {{.title}} &nbsp;<svg class="im-icon im-external-ico">
                    <use xlink:href="{{$.Site.BaseURL}}/images/symbol-defs.svg#external-link"></use>
                </svg>
            </a>
            {{ else }}
            <a href="{{.href}}" class="im-menu-item-child">
                <svg class="im-icon">
                    <use xlink:href="{{$.Site.BaseURL}}/images/symbol-defs.svg#{{.iconId }}"></use>
                </svg>&nbsp; {{.title}}
            </a>
            {{ end }}
            {{end}}

        </div>
        {{ end }}
    </div>
</div>