<div class="im-cards-container">
    {{range $mineName :=  $.Site.Data.homepage.allMines}}
    {{ $mine := getJSON (print "http://registry.intermine.org/service/instances/" $mineName)}}
    {{ $mineInstance := $mine.instance }}

    {{if eq $mineInstance.status "Running" }}
    {{ partial "v2/card" 
        (dict 
            "headerIconSrc" (index $mineInstance.images "logo") 
            "headerFallBackImgSrc" "https://cdn.rawgit.com/intermine/design-materials/78a13db5/logos/intermine/squareish/45x45.png"
            "title" $mineInstance.name
            "content" (truncate 150 (safeHTML $mineInstance.description))
            "isExternalLink" true
            "href" $mineInstance.url
            "actionAnchorTitle" (print "Click to view " $mineInstance.name)
            "actionTitle" "View"
        )
    }}
    {{end}}
    {{end}}
</div>
</div>